<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>A propos</h5>
        <p>Cite de citations les plus populaires</p>
      </div>
      <div class="col-md-4">
        <h5>Toutes les pages</h5>
        <ul class="list-unstyled">
          <li><a routerLink="home">Accueil</a></li>
          <li><a routerLink="citation">Citation</a></li>
          <li><a routerLink="home">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <address>
          13 rue Pierre de Gilet<br>
          Lyon 7e, France<br>
          <a href="tel:+1234567890" class="text-white">+1 (234) 567-890</a><br>
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
        <p>crée par Céline Mira | Pokichou </p>
      </div>
    </div>
  </div>
</footer>